/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe al menos la altura de la ventana */
}

/* Header Styles */
.header-container {
    background-color: #0056ff;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header-container h1 {
    margin: 0;
    font-size: 2.5em;
}

.subtitle {
    font-size: 1.2em;
    margin: 5px 0 0 0;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #0056ff;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a,
nav ul li button {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    background-color: #0042cc;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

nav ul li a:hover,
nav ul li button:hover {
    background-color: #003399;
}

/* Login Form Styles */
.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.login-container h2 {
    color: #0042cc;
    font-size: 2em;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-container button {
    background-color: #0056ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0042cc;
}

.login-container .register-link {
    margin-top: 20px;
}

.login-container .register-link a {
    color: #0042cc;
    text-decoration: none;
}

.login-container .register-link a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #0056ff;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: relative; /* Cambiado para evitar problemas de posicionamiento */
    bottom: 0;
}
